Projekt kalkulator/main.ilk
Projekt kalkulator/main.pdb
.DS_Store
Projekt kalkulator/bin/Debug/Projekt kalkulator
Projekt kalkulator/bin/Debug/Projekt kalkulator.dSYM/Contents/Resources/DWARF/Projekt kalkulator
